#headerdiv {
  position: relative;
  display: flex;
  margin-right: 20px;
  /* border: thin solid red; */
}

#header-logo {
  position: relative;
  height: 70px;
  width: 200px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right:50px;
}

a {
  width: 100px;
  height: 25px;
  background-color: whitesmoke;
  display: inline-block;
  margin: 20px 20px 20px 20px;
  font-size: 22px;
  border: 25px;
  padding: 5px;
  padding-left: 10px;
}

a.anchor:hover {
  background-color: rgb(46, 41, 41);
  color: white;
}

#section1 {
  height: 450px;
  width: 900px;
  display: flex;
  margin:auto;
  margin-bottom: 20px;
  margin-top: 20px;
  /* border: thin solid greenyellow; */
}

#divsection2 {
  position:relative;
  display: flex;
  /* border: thin solid red; */
  margin-right: 450px;
  margin-left: 465px;
}

    .section2 {
      position:relative;
      height: 375px;
      width: 300px;
      margin: 10px;
      
    }
/*  below imgandtext div includes the section 3 banner image, 3 paragraphs, and the button */
#imgandtext {
  position:relative;
  display: inline-flex;
  width: ;
  /* border: thin solid rgb(51, 179, 100); */
}

  #section3 {
    position: relative;
    height: 480px;
    width: 480px;
    margin: 20px;
    margin-left: 475px;
    /* border: thin solid royalblue; */
  }

  #divtext {
    position:relative;
    display: flex;

    height: 425px;
    width: 500px;
    float: right;
    margin-left: 10px;
    margin-right: 35px;
    margin-top: 20px;
    /* border: thin solid red; */
    display: grid;
    grid-template: 1fr / 1fr;
    place-items: left;
  }
    #divp1 {

      font-size: 20px;
      width: 500px;
    }
    
    #divp2 {
      font-size: 20px;
      width: 500px;
    }

    #divp3 {
      font-size: 20px;
      width: 500px;
    }

      .paragraphs { 
        /* border: thin solid green; */
        height: 140px;
      }

header {
  height: 100px;
  background-color: gray;
  border: thin solid black;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

   /* main {
    height: calc(100vh - 125px);
  } */
  
  /* img {
    width: 100px;
    margin: 0 10px 0 10px;
  } */
  
#button-div {
  margin-right: ;
  position: relative;
  height: 50px;
  width: 300px;
  /* border: thin solid blue; */
}

#button1 {
  float: left;
  align-items: center;
  height: 40px;
  width: 250px;
  font-size: 30px;
  text-align: center;
}
button:hover {
  background-color: greenyellow;
  border: thin solid lightgreen;
}
  
  #section4 {
    position: relative;
    width: 100%;
    height: 25px;
    background-color: grey;
  }